html,
body,
#app,
#app > div {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #e3e6eb;
  height: 100%;
}

.App-logo {
  height: 60%;
  pointer-events: none;
}

.App-body {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.App-city {
  height: 125vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin-top: 50px;
}

.footer {
  padding: 5px;
  background-color: #2980b9 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.navbar-brand a {
  color: #ffffff;
}

.navbar {
  background-color: #2980b9 !important;
}

.sidebar {
  margin: 20px;
  width: 20%;
  max-height: 350px;
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

.sidetext {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 170%;
}

.sidetext-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sidetext-number {
  font-weight: 800;
  font-size: 2rem;
}

.color-good {
  color: green;
}

.color-bad {
  color: red;
}

.App-body-news {
  width: 100%;
  margin-bottom: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  /* flex-basis: 100%; */
  flex-wrap: wrap;
}

.card-temp {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  flex-grow: 1;
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.mt-4 {
  background-color: #2980b9 !important;
}

.App-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-table {
  display: flex;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100% !important;
}
